div.chart{
    border-style: double;
}

.title{
    font-size: xx-large;
}

table{
    display: inline-block;
}

select{
    margin-left:  50px;
    margin-right:  50px;
}

div#ct1>svg {
    display: inline-block;
}

rect[class=bar]{
    fill: coral;
}